body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: .5lh auto;
    gap: .8lh;
}
main{
    width: 70vw;
}
#quote{
    /* font-size: 125%; */
    line-height: 0.8;
    font-weight: bold;
}
input{
    appearance: none;
    border: 1px solid var(--fg-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
}
button{
    appearance: none;
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
    padding: 3px;
    padding-inline: 5px;
    box-sizing: border-box;
    &:hover{
        filter: brightness(1.15);
    }
    &:focus-visible{
        filter: brightness(1.5);
        outline: none;
    }
    &:active{
        filter: brightness(0.8);
    }
}
#light, #accentbox{
    display: block;
    margin: 0 auto;
    font-size: 14pt;
}
#accentbox{
    margin-top: 10px;
    width: fit-content;
}
img{
    cursor: pointer;
}
