html{
    background-color: black;
    color: white;
    font-size: 23pt;
}
blockquote{
    &::before{
        content: "🙶";
        font-size: 200%;
    }
    &::after{
        content: "🙸";
        font-size: 200%;
    }
    margin: 0;
    +p.source{
        position: relative;
        left: -5ch;
        margin: 10px;
    }
}
:link{
    color: lightskyblue;
}
:visited{
    color: #ff9cac;
}
